/public/hot
/public/storage
/storage/*.key
/storage/*.log
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/sftp.json
/background_process
/attachment_storage

